$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-eye-off: "\e95c";
$icon-eye: "\e95d";
$icon-flag: "\e964";
$icon-shield-off: "\e95e";
$icon-shield: "\e95f";
$icon-user-check: "\e95a";
$icon-user-minus: "\e960";
$icon-user-plus: "\e95b";
$icon-user-x: "\e961";
$icon-user: "\e962";
$icon-users: "\e963";
$icon-search: "\e917";
$icon-filter-search: "\e924";
$icon-heart: "\e90d";
$icon-heart-fill: "\e925";
$icon-star: "\e911";
$icon-star-fill: "\e910";
$icon-member: "\e91d";
$icon-member-fill: "\e92d";
$icon-members: "\e919";
$icon-members-fill: "\e92f";
$icon-moderator: "\e91c";
$icon-moderator-fill: "\e930";
$icon-admin: "\e91b";
$icon-admin-fill: "\e931";
$icon-comment: "\e90c";
$icon-comment-fill: "\e907";
$icon-message: "\e91a";
$icon-more: "\e913";
$icon-more-fill: "\e914";
$icon-lock: "\e920";
$icon-lock-fill: "\e92e";
$icon-female: "\e902";
$icon-male: "\e905";
$icon-public-fill: "\e932";
$icon-settings: "\e915";
$icon-location: "\e959";
$icon-view: "\e929";
$icon-mail: "\e922";
$icon-print: "\e921";
$icon-image: "\e926";
$icon-phone: "\e935";
$icon-login: "\e923";
$icon-share: "\e92b";
$icon-facebook-fill: "\e928";
$icon-twitter-fill: "\e92a";
$icon-linkedin-fill: "\e92c";
$icon-pinterest-fill: "\e937";
$icon-insta-fill: "\e938";
$icon-dribbble-fill: "\e936";
$icon-rss: "\e927";
$icon-close-sign-secondary: "\e91e";
$icon-check-sign-secondary: "\e91f";
$icon-public-message: "\e906";
$icon-edit: "\e918";
$icon-load-more: "\e916";
$icon-trash: "\e912";
$icon-enter: "\e90e";
$icon-attach: "\e90f";
$icon-check-sign: "\e909";
$icon-minus: "\e90a";
$icon-plus: "\e90b";
$icon-reply: "\e908";
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-round-arrow-right: "\e903";
$icon-round-arrow-left: "\e904";
$icon-dual-what: "\e956";
$icon-dual-what-hover: "\e934";
$icon-dual-cool: "\e942";
$icon-dual-cool-hover: "\e941";
$icon-dual-who: "\e948";
$icon-dual-who-hover: "\e947";
$icon-dual-filter: "\e946";
$icon-dual-filter-hover: "\e945";
$icon-dual-how: "\e94c";
$icon-dual-how-hover: "\e94b";
$icon-dual-ux: "\e933";
$icon-dual-ux-hover: "\e957";
$icon-dual-match: "\e944";
$icon-dual-match-hover: "\e943";
$icon-dual-why: "\e94a";
$icon-dual-why-hover: "\e949";
$icon-dual-bookmark: "\e953";
$icon-dual-bookmark-hover: "\e952";
$icon-dual-download: "\e955";
$icon-dual-download-hover: "\e954";
$icon-dual-photo-camera: "\e94f";
$icon-dual-photo-camera-hover: "\e958";
$icon-dual-settings: "\e951";
$icon-dual-settings-hover: "\e950";
$icon-dual-share: "\e94e";
$icon-dual-share-hover: "\e94d";
$icon-dual-star: "\e93e";
$icon-dual-star-hover: "\e93d";
$icon-dual-video-camera: "\e940";
$icon-dual-video-camera-hover: "\e93f";
$icon-dual-down: "\e93a";
$icon-dual-down-hover: "\e939";
$icon-dual-arrow-up: "\e93c";
$icon-dual-arrow-up-hover: "\e93b";

