/* Dark elements */

@include enable-dark() {
  background: $dark-bg;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  p, a, label, small {
    color: $dark-color;
  }

  hr {
    border-color: $dark-hr-border-color;
  }

  select,
  select.form-control {
    &:not([size]):not([multiple]) {
      background-image: str-replace(url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='#{$dark-input-color}' fill-rule='evenodd' d='M3.42547774,11.0929521 C3.33143351,11.0929521 3.23696374,11.0637059 3.15823893,11.0027764 C2.97525694,10.8614199 2.94674579,10.6059221 3.09483354,10.4316637 L7.56299841,5.15110521 C7.64257429,5.05686755 7.7621509,5.00162479 7.88896167,5 C8.00385734,5.00974872 8.13662567,5.0511808 8.21832925,5.14379367 L12.8992639,10.4243521 C13.0511815,10.595361 13.0286279,10.8516712 12.8494758,10.9966834 C12.6698981,11.1408833 12.4013826,11.1205735 12.2498906,10.9487522 L7.90172786,6.04351959 L3.75654748,10.9418469 C3.6727162,11.0413651 3.54930974,11.0929521 3.42547774,11.0929521 L3.42547774,11.0929521 Z' transform='matrix(1 0 0 -1 0 16.093)'/></svg>"), "#", "%23");
    }
  }
}
  
