/* Font Icons */

//Include icomoon style.css
//@import "icon/style.css";

.icon {
  @extend %icon;
}

.icon-sm {
  @extend %icon-sm;
}

.icon-lg {
  @extend %icon-lg;
}

// special icons

.icon-google-color {
  &:before {
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><g fill='none' fill-rule='evenodd'><path fill='%23FBBC05' d='M7.04769211,21.0868876 C6.37646228,19.6926132 6,18.1206768 6,16.4545455 C6,14.7884141 6.37646228,13.2164777 7.04769211,11.8222033 L10.4892381,14.511068 C10.2924544,15.121732 10.1860465,15.7750178 10.1860465,16.4545455 C10.1860465,17.1340731 10.2924544,17.7873589 10.4892381,18.3980229 L7.04769211,21.0868876 Z'/><path fill='%23EA4335' d='M7.04769211,11.8222033 C8.71209378,8.36491854 12.188893,6 16.2325581,6 C18.8372093,6 21.1627907,6.99793388 22.9767442,8.61363636 L20,11.6549587 C18.9767442,10.7995868 17.6744186,10.2768595 16.2325581,10.2768595 C13.5488198,10.2768595 11.2832794,12.0469796 10.4892381,14.511068 L7.04769211,11.8222033 Z'/><path fill='%2334A853' d='M7.04630728,21.0840099 L10.4864502,18.3893498 C11.2779655,20.8579566 13.5456721,22.6322314 16.2325581,22.6322314 C19.0697674,22.6322314 21.2093023,21.1590909 21.7209302,18.5929752 L16.2325581,18.5929752 L16.2325581,14.553719 L20.7906977,14.553719 L24.6046512,14.553719 L25.7674419,14.553719 C25.9069767,15.1714876 26,15.8367769 26,16.4545455 C26,23.107438 21.3488372,26.9090909 16.2325581,26.9090909 C12.1877711,26.9090909 8.71016471,24.54286 7.04630728,21.0840099 Z'/><path fill='%234285F4' d='M22.902071,24.3053705 L19.6348402,21.7210266 C20.7031199,21.032209 21.4463921,19.9699459 21.7209302,18.5929752 L16.2325581,18.5929752 L16.2325581,14.553719 L20.7906977,14.553719 L24.6046512,14.553719 L25.7674419,14.553719 C25.9069767,15.1714876 26,15.8367769 26,16.4545455 C26,19.8620045 24.7798821,22.5215111 22.902071,24.3053705 Z'/></g></svg>");
    
    @include size($icon-size,$icon-size);
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 0;
    
  }
}

.btn:hover .icon-google-color {
  &:before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'><path fill='%23FFFFFF' fill-rule='evenodd' d='M25.7674419,14.553719 L24.6046512,14.553719 L20.7906977,14.553719 L16.2325581,14.553719 L16.2325581,18.5929752 L21.7209302,18.5929752 C21.2093023,21.1590909 19.0697674,22.6322314 16.2325581,22.6322314 C12.8837209,22.6322314 10.1860465,19.8760331 10.1860465,16.4545455 C10.1860465,13.0330579 12.8837209,10.2768595 16.2325581,10.2768595 C17.6744186,10.2768595 18.9767442,10.7995868 20,11.6549587 L22.9767442,8.61363636 C21.1627907,6.99793388 18.8372093,6 16.2325581,6 C10.5581395,6 6,10.6570248 6,16.4545455 C6,22.2520661 10.5581395,26.9090909 16.2325581,26.9090909 C21.3488372,26.9090909 26,23.107438 26,16.4545455 C26,15.8367769 25.9069767,15.1714876 25.7674419,14.553719 L25.7674419,14.553719 Z'/></svg>");
  }
}
