/* Pagination and Page Links */

.pagination,
.page-links,
.pagination-links {
  @include flex();
  align-items: center;
}
.pagination {
  @extend %list-unstyled;
  
  @include align-items(center);
  margin-bottom: 1rem; 
}

.pagination-links {
  @include flex-grow(1);
  @include justify-content(flex-end);
}


@include media-breakpoint-only(xs) {
  .pagination {
    margin-bottom: 2rem;
  }
  
}

.page-numbers,
.page-links > *:not(.page-links-title) {
  position: relative;
  @include flex();
  
  padding: $pagination-padding-y $pagination-padding-x;
  margin: 0 $pagination-margin-x;
  line-height: $pagination-line-height;
  color: $pagination-color;
  background-color: $pagination-bg;
  border: $pagination-border-width solid $pagination-border-color;
  @include border-radius();
  @include transition(border-color .25s ease-out, color .25s ease-out);

  @include hover {
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-numbers elements
  &:not([disabled]):not(.disabled) {
    cursor: pointer;
  }
  
  @include icon-inside($font-size-base, $line-height-base);
}

.page-links {
  .page-links-title {
    margin-right: $pagination-margin-x;
  }
}

.page-numbers.current,
.page-numbers:focus,
.page-links > span:not(.page-links-title),
.page-links > span:not(.page-links-title):hover {
  z-index: 1;
  color: $pagination-active-color;
  background-color: $pagination-active-bg;
  border-color: $pagination-active-border-color;
}

.page-numbers.disabled {
  color: $pagination-disabled-color;
  pointer-events: none;
  // Opinionated: remove the "hand" cursor set previously for .page-numbers
  cursor: auto;
  background-color: $pagination-disabled-bg;
  border-color: $pagination-disabled-border-color;
}

.prev.page-numbers,
.next.page-numbers {
  @include hover-focus {
    border-color: transparent;
  }
}

//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
  
  @include icon-inside($font-size-lg, $line-height-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
  @include icon-inside($font-size-sm, $line-height-sm);
}

// icons

