.table, table {
	.table {
		background-color: $body-bg;
	}
}
.table-hover {
	tbody tr {
		@include hover {
		}
	}
}
@each $color, $value in $theme-colors {
	@include table-row-variant($color, theme-color-level($color, -9));
}
.table-dark {
	&.table-hover {
		tbody tr {
			@include hover {
			}
		}
	}
}
.table-responsive {
	@each $breakpoint in map-keys($grid-breakpoints) {
		$next: breakpoint-next($breakpoint, $grid-breakpoints);
		$infix: breakpoint-infix($next, $grid-breakpoints);
		&#{$infix} {
			@include media-breakpoint-down($breakpoint) {
				> .table-bordered {
				}
			}
		}
	}
}